{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>Login Page</title>
</head>
<body>
<div class="main-container">

    <div>
        {% if message %}
            <div class="message">
                {{ message }}
            </div>            
        {% endif %}
    </div>

    <form class="loginSignUp-box"  action="{% url 'accounts:login' %}" method="post">

        <div class="login">

            <div class="form-control1">

                <div class="header">
                    <h2>ورود</h2>
                </div>
                <input type="text" name="username" class="tbox" placeholder="username" required />
            </div>
            <div class="form-control1">

                <input type="password" name="password" class="tbox" placeholder="password" required />
            </div>
            {% csrf_token %}
            {% if request.GET.next %}
                <input type="hidden" name="next" value="{{request.GET.next}}">
            {% endif %}
            <div class="form-control1">
                <input type="submit" value="ورود به حساب" class="btn" />
            </div>
            <br>
            <a href="{% url 'accounts:signup' %}" class="link">حسابی از قبل ندارید؟</a>
        </div>
    </form>
</div>
</body>
</html>