{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'theme.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Sign up Page</title>
</head>
<body>
<div class="main-container">

    <div class="login-box">

        <!--other-->
        <form class="login"  action="{% url 'accounts:signup' %}" method="post">

            <div class="form-control1">
                <div style="text-align:left; margin-top:4%; margin-left:4%;">
                    <a href="{% url 'accounts:login' %}" class="link"><em><b>از قبل حساب دارید؟</b></em></a>
                </div>
                <div class="header">
                    <h2>ثبت نام</h2>
                </div>
                <label style="color:gray; margin-right:3%; font-size:15px;"><em>نام کاربری:</em></label>
                <br>
                <input type="text" class="tbox" name="username" required />
            </div>

            <div class="form-control1">
                <label style="color:gray; margin-right:3%; font-size:15px;"><em> رمز عبور: </em></label>
                <br>
                <input type="password" class="tbox" name="password1" required />
            </div>

            <div class="form-control1">
                <label style="color:gray; margin-right:3%; font-size:15px;"><em>تکرار رمز عبور: </em></label>
                <br>
                <input type="password" class="tbox" name="password2" required />
            </div>
            {% csrf_token %}
            <div class="form-control1">
                <input type="submit" name="submit" value="ثبت نام کن" class="btn" />
            </div>
            {% comment %} <div class="forget-box">
                <input type="checkbox"><label style="color: gray; font-size: 14px; font-family:tahoma;"> مرا به یاد داشته باش</label><br>
            </div>
            <div class="header"></div> {% endcomment %}
        </div>
    </form>
</div>
<div class="header"></div>
</body>
</html>