.message {
    color:#ffffff;
    background-color:#424874;
    border-color:#f5c2c7;
    position:relative;
    padding:1rem 1rem;
    margin-bottom:1rem;
    border:1px solid transparent;
    border-radius:.25rem;
    
}
