
        body{
            font-family: arial;
            height: 700px;
            }

	    .main-container{
	        display: grid;
	        justify-content: center;
	        margin-top: 40px;
	        }

	    .loginSignUp-box{

	        border-radius: 9px;
	        width:400px;
	        height:470px;
	        margin-top: 70px;
	        padding-right:40px;
	        padding-top: 30px;
			backdrop-filter: blur( 6.5px );
            background: rgba( 255, 255, 255, 0.18 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );

	        }

	    .header{
	        height: 100px;
		    display: flex;
		    justify-content: flex-start;
		    align-items: center;
		    color: white;
		    margin-right:5%;
		    margin-left:5%;
        }

	    .tbox{
	        width: 80%;
	        margin-bottom: 10px;
	        margin-top: 10px;
	        height: 45px;
            direction: ltr;
	        border-top-left-radius: 20px;
            border-bottom-right-radius: 20px;
	        border: 1px solid #DCD6F7;
	        outline: none;
	        transition: 0.6s;
	        color: #424874;
	        font-size: 15px;
			backdrop-filter: blur( 2.5px );
			background: rgba( 250, 250, 250, 0.2 );
	    }

        ::placeholder {
             color: #8e93be;
             opacity: 10;
             font-size:17px;
			 direction:rtl;
             text-align: right;
             padding-right:20px;
        }

	    input{
	        padding-left: 20px;
	        height: auto;
	        margin-left: 27px;
	        margin-right: 8px;
	    }

	    .tbox:focus{
	        border: 1px solid #9796f0;
	        transition: 0.6s;
	        color: white;
	        font-size:17px;
	    }

	    .login{
	        margin: 15px 20px;
            direction: rtl;
            text-align:right;
            width:90%;
	    }

	    .btn{
	        border: 1px solid white;
	        width: 80%;
	        padding: 15px 0;
	        margin-top: 40px;
	        margin-bottom: 10px;
		    background-color: #424874;
		    color: #f5f5f5;
		    font-size: 1.2rem;
		    outline: none;
		    transition: 0.6s;
            border-radius: 5px;
            margin-right: 16px;
		}

	.btn:hover{
	    background-color:#f2a6cb;
	    color:white;
	    transition: 0.6s;
	    cursor: pointer;
	}

	.forget-box{
	    float: right;
	    margin-top:5px;
	    margin-bottom:5px;
	    font-size:40px;
	    font-family:tahoma;
	}

	.link{
	    color: white;
	    text-decoration:none;
	    font-size:15px;
	    text-align:left;
	    font-family:arial;
	    position: relative;
	    right:240px;
	}

	.link:hover{
	    color: #4e5497;
	    font-size:16px;
	  	text-shadow: 0px 0px 8px white;
		transition: 0.6s;
	}

	.message {
		color:#ffffff;
		background-color:#424874;
		border-color:#f5c2c7;
		position:relative;
		padding:1rem 1rem;
		margin-bottom:1rem;
		border:1px solid transparent;
		border-radius:.25rem;
		text-align:right
	}
