<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="stylesheet" href="{% static '404.css' %}">
</head>
<body style="background-color: #DCD6F7">
    <div style="text-align: center; color: #424874; margin-top:20%; ">
        <h1>!پست با آیدی  {{ post_id }} یافت نشد</h1>
        <a style="color: #7989d2" href="{% url 'management:index' %}">بازگشت به پنل کاربری</a>
    </div>
</body>
</html>