{% extends 'base.html' %}

{% block title %}home{% endblock  %}

{% block content %}
<div id="header" >

    <div class="row">
    <div class="column5" style="text-align:center;">

        <div style="max-width:800px; padding-left:50px; align-items:center; margin:auto;">
            {% for post in promoted_posts %}
                <a href="{% url 'posts:detail' post.id %}"><img class="mySlides" src="{{ post.image.url }}" alt="{{ post.title }}" /></a>
            {% endfor %}
        </div>
            <br>
            <button class="slideShowBtn"  onclick="plusDivs(-1)" style="margin-right:20%;" >❮</button>

            <button class="slideNumbers" onclick="currentDiv(1)" ></button>
            <button class="slideNumbers" onclick="currentDiv(2)" ></button>
            <button class="slideNumbers" onclick="currentDiv(3)" ></button>

            <button class="slideShowBtn" onclick="plusDivs(1)" style="margin-left:20%;">❯</button>
    </div>
</div>
</div>

<div id="middle">
    <a href="#" id="darkLight" style="padding:10px 17px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; left:30px;  background-color:white; border-radius:50%;"><b>☽</b></a>
    <a href="#top" style="padding:10px 15px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; right:30px;  background-color:white; border-radius:50%;" ><i class="fa fa-angle-up"></i></a>

    <div class="row">

        <div class="column3">

            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side">
                <h5 style="color: white; padding: 20px 30px;">پربازدید ترین‌ها</h5>
                {% for post in most_visited_posts %}
                    <a href="{% url 'posts:detail' post.id %}" style=" direction:rtl; border-radius:5px;"><img src="{{ post.image.url }}" class="smallPic" />
                    {{post.snippet|safe}}</a>
                {% endfor %}
            </div>

            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side2">
                <h5 style="color: white; padding: 20px 30px;">آخرین خبرها</h5>
                {% for post in last_recent_posts %}
                    <a href="{% url 'posts:detail' post.id %}" style=" direction:rtl; border-radius:5px;"><img src="{{ post.image.url }}" class="smallPic" />
                    {{post.snippet|safe}}</a>
                {% endfor %}
            </div>

            <iframe src="https://exiracademy.org" style="width:100%;"><img src="../gifs/ad.gif" style="width:90%; margin:5% auto 5%;" /></iframe>
            <br><br>
            <a href="https://www.si24.ir/telematics?utm_source=isna&utm_medium=banner&utm_campaign=telematics" target="_blank" ><img src="../gifs/ad2.gif" style="width:90%;" /></a>
            <br><br>
            <a href="https://www.rightel.ir/twenty?utm_source=bannerweb&utm_medium=twenty&utm_campaign=twenty&utm_content=isna" target="_blank"><img src="../gifs/ad3.gif" style="width:90%;" /></a>

        </div>

        <div class="column4">

            {% for post in posts %}
                <div class="newsPar" style="border:none; box-shadow: 0px 0px 0px 0px #8e94be; background-color: inherit;">
                    <div class="imgSet">
                        <img src="{{ post.image.url }}" class="smallPic" style="width:300px; height:150px; z-index:-1;"/>
                    </div>
                    <h5>{{ post.title }}</h5><br>
                    <p>{{ post.snippet|safe }}</p>
                    <a href="{% url 'posts:detail' post.id %}">ادامه مطلب</a><br>

                </div>

                <hr style="border-color:#424874;">

                <br>
            {% endfor %}


        <div class="pagination">
            {% if posts.has_previous %}
                <a href="/?page={{ posts.previous_page_number }}">prev</a>
            {% endif %}
            <span class="page-current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
            </span>
            {% if posts.has_next %}
                <a href="/?page={{ posts.next_page_number }}">next</a>
            {% endif %}
        </div>


    </div>


</div>
{% endblock %}
    
    

{% block script %}
<script>
    var slideIndex = 1;
    showDivs(slideIndex);
    
    function plusDivs(n) {
        showDivs(slideIndex += n);
    }
    
    function currentDiv(n) {
        showDivs(slideIndex = n);
    }
    
    function showDivs(n) {
      var counter;
      var pics = document.getElementsByClassName("mySlides");
    
      if (n > pics.length) {
          slideIndex = 1
      }
    
      if (n < 1) {
          slideIndex = pics.length
      }
    
      for (counter = 0; counter < pics.length; counter++) {
        pics[counter].style.display = "none";
      }
    
      pics[slideIndex-1].style.display = "block";
    }
    </script>
{% endblock %}