{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{% static 'lightMode.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="{% static 'icon.png' %}">
    <title>{% block title %}{% endblock %}</title>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>
<body>

    <div id="top"></div>
    <div id="container">
            <header>
                <nav>
                    <input type="checkbox" id="check">
                    <label for="check" class="check-btn">
                        <i class="fa fa-bars"></i>
                    </label>
                    <label class="logo">
                        <img src="{% static 'logo.jpg' %}" style="width:120px; height:70px; margin-top:5px; border-top-left-radius:100px; border-bottom-left-radius:50px; border-top-right-radius:50px; border-bottom-right-radius:100px;  box-shadow: 0px 0px 20px 0px #1a1a1a;"/>
                    </label>
                    <ul>
                        {% if 'login' in request.session %}
                        <li><a href="{% url 'accounts:logout' %}"><b>خروج</b></a></li>
        
                        <li><a href="{% url 'management:index' %}"><b>پنل مدیریت</b></a></li>
                        {% else %}
                        <li><a href="{% url 'accounts:login' %}"><b>ورود</b></i></a></li>
        
                        <li><a href="{% url 'accounts:signup' %}"><b>ثبت نام</b></a></li>
                        {% endif %}
                        <li class="navLabel"></li>
                        <li id="drop"><a id="empty">
                            <div class="dropdown" >
                                <a href="{% url 'posts:list' %}" style="padding: 29px 29px;" class="dropbtn"><b> صفحه اخبار </b></a>
                            </div>
                        </a></li>
                        <li>
                            <a href="{% url 'home' %}" ><b> صفحه اصلی </b><i class="fa fa-fw fa-home"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>

            {% block content %}{% endblock%}
            <footer class="footer">
                <br><br>
    
                <div class="row">
                    <br><br>
    
                    <div class="footer1" >
                        <br>
                        <a href="https://instagram.com/ali_2oo2_k?utm_medium=copy_link" target="_blank"><i class="fab fa-instagram" style="font-size:30px; color:white;"></i> </a>
                        <br><br><a href="https://t.me/ayda_as94" target="_blank"><i class="fab fa-telegram" style="font-size:30px; color:white;"></i></a>
                        <br><br><a href="https://twitter.com/Ali200255642227?t=pjxtXPWwxoQErmHhBFh_-w&s=09" target="_blank"><i class="fab fa-twitter" style="font-size:30px; color:white;"></i></a>
                    </div>
                    <div class="footer1">
                        <br>
                        <a href="https://t.me/Ali_2002_k" target="_blank"><i class="fab fa-linkedin" style="font-size:30px; color:white;"></i></a>
                        <br><br><a href="https://wa.me/9383795330" target="_blank"><i class="fab fa-whatsapp" style="font-size:30px; color:white;"></i></a>
                        <br><br><a href="https://www.pinterest.com/indigor761/" target="_blank"><i class="fab fa-pinterest" style="font-size:30px; color:white;"></i></a>
    
                    </div>
    
                    <div class="footer1" id="phone">
    
                        <address >
                            <br><a href="mailto:indigor761@gmail.com" style="color:white; text-decoration:none; font-size: 17px;">indigor761@gmail.com</a><br>
                            <br><a href="mailto:alikhalpoor@gmail.com" style="color:white; text-decoration:none; font-size: 17px;">alikhalpoor@gmail.com</a><br>
                            <br><br><a href="tel: 09383795330" style="color:white; text-decoration:none; font-size: 17px;">09383795330</a><br><br>
                            <a href="tel:09335107705" style="color:white; text-decoration:none; font-size: 17px;">09335107705</a>
                        </address>
                    </div>
                    <a href="{% url 'home' %}" class="footer1" id="footerlogo"> <img src="{% static 'logo.jpg' %}" style=" width:220px; height:140px; border-radius:50%; border-top-left-radius:100px; border-bottom-left-radius:50px; border-top-right-radius:50px; border-bottom-right-radius:100px;"/></a>
                </div>
            </footer>
    </div>
    {% block script %}{% endblock%}
    {% comment %} <script>
        $(document).ready(function(){
            $("#darkLight").click(function(){
                $()
            })
        })
    </script>         {% endcomment %}
</body>
</html>
