{% extends 'base.html' %}

{% block title %}post list{% endblock %}

{% block content %}

<div id="middle">


    <div class="row">
        <div class="column1">
            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side">
                <br>
                <h5 style="color: white;">پربازدید ترین‌ها</h5>
                <br>


                <a href="../News/12.html" style=" direction:rtl; border-radius:5px;"><img src="../images/pic12.jpg" class="smallPic" />
                    چگونگی گرم کردن داخل کیسه خواب و یا چادر را بدانید!!<br>
                    اولین نکته ای که به شما کمک می کند خوابی راحت و آرام داشته باشید...</a>


                <a href="../News/9.html" style=" direction:rtl; border-radius:5px;">
                    <img src="../images/pic9.jpg" class="smallPic" />
                    چرا بعضی‌ها کرونا نمی‌گیرند؟<br>
                    دانشمندان با تحلیل نمونه‌های حاد از بیماران کرونایی پی برده‌اند که چگونه تفاوت‌های ژنتیکی بر سلول‌های ایمنی ما تأثیر می‌گذارد...
                </a>


                <a href="../News/2.html" style=" direction:rtl; border-radius:5px;">
                    <img src="../images/pic2.webp" class="smallPic" />
                    گلکسی نوت به تاریخ پیوست!<br>
                    گزارش‌های جدید خبر می‌دهند که سری گلکسی نوت سامسونگ اکنون به تاریخ پیوسته است و هرگز باز نمی‌گردد...
                </a>


                <a href="../News/7.html" style=" direction:rtl; border-radius:5px;">
                    <img src="../images/pic7.jpg" class="smallPic" />
                    کتاب «حدیث سهر» منتشر شد<br>
                    به گزارش خبرگزاری تسنیم، کتاب «حدیث سهر (نکات ناب و خاطرات شنیدنی از عارفان، حکیمان و اندیشمندان در بیان آیت الله حسن رمضانی)» به کوشش وحید واحدجوان به همت مؤسسه بوستان کتاب در 544 صفحه منتشر شد...
                </a>

                <a href="../News/6.html" style=" direction:rtl; border-radius:5px;">

                    <img src="../images/pic6.jpg" class="smallPic" />
                    واگذاری کشت‌وصنعت مغان به یک بدهکار کلان بانکی چگونه رخ داد؟ /مروری بر داستان حراج «نگین کشاورزی ایران»<br>
                    در حالیکه اخیراً زمزمه‌هایی مبنی بر امکان اعاده دادرسی در ...
                </a>

            </div>
        </div>

        <div class="column2">

            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="siasi"><div class="rectangle"><b> سیاسی </b></div><div class="triangle-left"></div></div>
            <br>
            <div class="newsPar">
                <img src="../images/pic3.jpg" class="smallPic" />
                <h5>وزیر کشور در بیرجند: دیپلماسی فعال با کشورهای همسایه را دنبال می‌کنیم/ سند آمایش سرزمینی ‌کل ایران تهیه شد</h5><br>
                <p>به گزارش خبرگزاری تسنیم از بیرجند، «احمد وحیدی» که امروز ظهر به منظور تکریم «حمید ملانوری» استاندار سابق و معارفه «جواد قناعت» استاندار جدید استان خراسان جنوبی...</p>
                <a href="../News/3.html">ادامه مطلب</a><br>
            </div>

            <br>
            <div class="newsPar">
                <img src="../images/pic4.jpg" class="smallPic" />
                <h5>۲۰ درصد کل احکام بودجه اجرایی شده است/۱۵۴ هزار میلیارد کسری تراز عملیاتی و سرمایه‌ای</h5><br>
                <p>طی گزارش حسابرسی عملکرد شش ماهه احکام بودجه سال ۱۴۰۰ از مجموع ۴۱۰ تبصره، بند و جزء در قانون بودجه سال جاری تنها ۸۲ حکم یعنی ۲۰ درصدآن...</p>
                <a href="../News/4.html">ادامه مطلب</a><br>
            </div>

            <br><br>
            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="eghtesadi"><div class="rectangle"><b> اقتصادی </b></div><div class="triangle-left"></div></div>

            <br>
            <div class="newsPar">
                <img src="../images/pic5.jpg" class="smallPic" />
                <h5>ماده اولیه تولید کارت ملی داخلی‌سازی می‌شود / تولید موفق پلی‌کربنات گرید پزشکی در ایران</h5><br>
                <p>به گزارش خبرنگار اقتصادی خبرگزاری تسنیم، رضا صالح احمدی، مدیر عامل شرکت پتروشیمی خوزستان در نشستی خبری اظهار داشت: پتروشیمی خوزستان تنها تولیدکننده پلی‌کربنات در ایران است و پلی‌کربنات با ظرفیت تولید 25 هزار تن در سال برای مصارف صنایع، مخابرات، الکترونیک...</p>
                <a href="../News/5.html">ادامه مطلب</a><br>
            </div>

            <br>
            <div class="newsPar">
                <img src="../images/pic6.jpg" class="smallPic" />
                <h5>واگذاری کشت‌وصنعت مغان به یک بدهکار کلان بانکی چگونه رخ داد؟ /مروری بر داستان حراج «نگین کشاورزی ایران»</h5><br>
                <p>در حالیکه اخیراً زمزمه‌هایی مبنی بر امکان اعاده دادرسی در خصوص پرونده واگذاری شرکت کشت و صنعت مغان شنیده می‌شود، مروری بر جریانات مربوط به این واگذاری نشان می‌دهد که این اقدام با تخلفات گسترده و به یک بدهکار بانکی صورت گرفته است...</p>
                <a href="../News/6.html">ادامه مطلب</a><br>
            </div>

            <br><br>
            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="farhangi"><div class="rectangle"><b> فرهنگی </b></div><div class="triangle-left"></div></div>

            <br>
            <div class="newsPar">
                <img src="../images/pic7.jpg" class="smallPic" />
                <h5>کتاب «حدیث سهر» منتشر شد</h5><br>
                <p>به گزارش خبرگزاری تسنیم، کتاب «حدیث سهر (نکات ناب و خاطرات شنیدنی از عارفان، حکیمان و اندیشمندان در بیان آیت الله حسن رمضانی)» به کوشش وحید واحدجوان به همت مؤسسه بوستان کتاب در 544 صفحه منتشر شد...</p>
                <a href="../News/7.html">ادامه مطلب</a><br>
            </div>

            <br>
            <div class="newsPar">
                <img src="../images/pic8.jpg" class="smallPic" style="width:110px; height:130px;" />
                <h5>روایتی تاریخی از عصر پیامبر در بازار کتاب</h5><br>
                <p>ویراست دوم «به امین بگو دوستش دارم» نوشته مریم راهی از سوی انتشارات نیستان منتشر و روانه بازار نشر شد...</p>
                <a href="../News/8.html">ادامه مطلب</a><br>
            </div>

            <br><br>

            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="tech"><div class="rectangle"><b>علم و تکنولوژی </b></div><div class="triangle-left"></div></div>


            <br>
            <div class="newsPar">
                <img src="../images/error.png" class="smallPic" />
                <h5>رنگ صفحه‌ی مرگ که در ویندوز ۱۱ از آبی به مشکی تغییریافته بود در آپدیت جدید ویندوز ۱۱ به آبی بازگشته است. </h5><br>
                <p>مایکروسافت اخیرا آپدیت جدیدی برای اعضای حلقه‌ی بتا و پیش‌نمایش انتشار ویندوز اینسایدر منتشر کرده که باگ‌های بسیاری را در ویندوز ۱۱ برطرف می‌کند...</p>
                <a href="../News/1.html">ادامه مطلب</a><br>
            </div>

            <br>
            <div class="newsPar">
                <img src="../images/pic2.webp" class="smallPic" />
                <h4>گلکسی نوت به تاریخ پیوست!</h4><br>
                <p>گزارش‌های جدید خبر می‌دهند که سری گلکسی نوت سامسونگ اکنون به تاریخ پیوسته است و هرگز باز نمی‌گردد...</p>
                <a href="../News/2.html">ادامه مطلب</a><br>
            </div>


            <br><br>
            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="covid"><div class="rectangle"><b> covid 19 </b></div><div class="triangle-left"></div></div>


            <br>
            <div class="newsPar">
                <img src="../images/pic9.jpg" class="smallPic" />
                <h5>چرا بعضی‌ها کرونا نمی‌گیرند؟</h5><br>
                <p>دانشمندان با تحلیل نمونه‌های حاد از بیماران کرونایی پی برده‌اند که چگونه تفاوت‌های ژنتیکی بر سلول‌های ایمنی ما تأثیر می‌گذارد...</p>
                <a href="../News/9.html">ادامه مطلب</a><br>
            </div>

            <br>
            <div class="newsPar">
                <img src="../images/pic10.jpg" class="smallPic" />
                <h5>واکسیناسیون معلمان و والدین شانس کرونا را کم کرده است</h5><br>
                <p>کارشناس بیماری‌های واگیر معاونت بهداشتی دانشگاه علوم پزشکی بوشهر گفت: واکسیناسیون والدین و معلمین مدارس بر علیه Covid-۱۹ از یک سو و رعایت توصیه‌های بهداشتی از سوی دانش‌آموزان از سوی دیگر باعث می‌شود که شانس انتقال بیماری و پیامدهای ناشی از آن کاهش یابد...</p>
                <a href="../News/10.html">ادامه مطلب</a><br>
            </div>
            <br><br>
            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="fun"><div class="rectangle"><b> سرگرمی </b></div><div class="triangle-left"></div></div>
            <br>
            <div class="newsPar">
                <img src="../images/pic11.jpg" class="smallPic" />
                <h5>آشنایی با دره ماه؛ غیرقابل سکونت ترین نقطه روی کره زمین</h5><br>
                <p>کشور شیلی یکی از زیباترین کشور های آمریکای جنوبی به شمار می رود. جذابیت های دیدنی و تفریحاتی زیادی در این کشور وجود دارد. بزرگ ترین استخر جهان، در این کشور قرار دارد که در سرتاسر دنیا نمیتوان مانند آن را پیدا کرد...</p>
                <a href="../News/11.html">ادامه مطلب</a><br>
            </div>
            <br>
            <div class="newsPar">
                <img src="../images/pic12.jpg" class="smallPic" />
                <h5>چگونگی گرم کردن داخل کیسه خواب و یا چادر را بدانید!!</h5><br>
                <p>اولین نکته ای که به شما کمک می کند خوابی راحت و آرام داشته باشید استفاده از کیسه خواب خوب در چادر است. کیسه خوابی که برای خوابیدن در سرما از آن استفاده می کنید باید در برابر سرما عایق ایجاد کند و سرما را به درون خودش راه ندهد...</p>
                <a href="../News/12.html">ادامه مطلب</a><br>
            </div>
        </div>
    </div>
</div>

{% endblock %}
