{% extends 'base.html' %}

{% block title %}{{ post.title }}{% endblock  %}

{% block content %}

<div id="middle">
    <a href="#top" style="padding:10px 15px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; right:30px;  background-color:white; border-radius:50%;" ><i class="fa fa-angle-up"></i></a>
    <a href="#" id="darkLight" style="padding:10px 17px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; left:30px;  background-color:white; border-radius:50%;"><b>☽</b></a>

    <div class="row">
        <div class="column1">
            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side">
                <h5 style="color: white; padding: 20px 30px;">پربازدید ترین‌ها</h5>
                {% for post in most_visited_posts %}
                    <a href="{% url 'posts:detail' post.id %}" style=" direction:rtl; border-radius:5px;"><img src="{{ post.image.url }}" class="smallPic" />
                    {{post.snippet|safe}}</a>
                {% endfor %}
            </div>

            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side2">
                <h5 style="color: white; padding: 20px 30px;">آخرین خبرها</h5>
                {% for post in last_recent_posts %}
                    <a href="{% url 'posts:detail' post.id %}" style=" direction:rtl; border-radius:5px;"><img src="{{ post.image.url }}" class="smallPic" />
                    {{post.snippet|safe}}</a>
                {% endfor %}
            </div>
        </div>

        <div class="column2">
            <img src="{{ post.image.url }}" class="imgPost"/>
            <br>
            <p class="par">{{ post.date }}</p>
            <h1 class="par">{{ post.title }}</h1>
            <p class="par">{{ post.body|safe }}</p>

            <h1 style="margin-top:100px; direction:rtl; padding-right:30px; font-size:25px; color:#424874;" > نظرات شما</h1>
            <br><hr style="border-color:#424874;">

            
                
                {% for comment in comments %}
                    <div class="comment">
                        <h2>{{ comment.author.username }}</h2>
                        <p>{{ comment.body }}</p>
                        <br><br>
                        <div id="rep">
                            <form method="POST" action="{% url 'posts:replyComment' comment.id %}">
                            {% csrf_token %}
                            <textarea name="body" style="resize:none; width:500px; height:100px; padding: 10px;" placeholder="پاسخ شما"></textarea>
                            <input type="submit" name="submit" value="ثبت نظر" style="font-size:15px; padding:5px; color:white; background-color:#424874; border-radius:5px;">
                            </form>
                        </div>
                    </div>
                    {% for subcomment in comment.subcomments.all %}
                        {% if subcomment.is_confirmed %}
                            <div class="reply">
                                <span style="font-size:12px; background-color:#A6B1E1; color:white; padding:5px; border-radius:50px;">در پاسخ به {{ subcomment.parent.author.username }}↶</span>
                                <h3>{{ subcomment.author.username }}</h3>
                                <p>{{ subcomment.body }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            
            <form method="POST" action="{% url 'posts:addComment' post.id %}" style="margin-top:100px; direction:ltr; padding-right:30px; text-align:right; ">
                {% csrf_token %}
                <label style="font-size:25px; color:#424874;" >ارسال نظر شما</label>
                <br><br>
                <textarea class="send-comment" placeholder="نظر شما" name="body"></textarea>
                <br>
                <input type="submit" name="submit" value="ثبت نظر" style="font-size:15px; padding:5px; color:white; background-color:#424874; margin-right:770px; border-radius:5px;">
            </form>
        </div>
    </div>
</div>
{% endblock %}