<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../lightMode.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="icon" href="../Icon/icon.png">
    <title>List</title>
</head>
<body>

<div id="top"></div>

<div id="container">
    <a href="#top" style=" padding:10px 15px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; right:30px;  background-color:white; border-radius:50%;" ><i class="fa fa-angle-up"></i></a>

    <header>
        <nav >
            <input type="checkbox" id="check">
            <label for="check" class="check-btn">
                <i class="fas fa-bars"></i>
            </label>

            <label class="logo">
                <img src="../images/logo.jpg" style="width:90px; height:70px; margin-top:5px; border-top-left-radius:100px; border-bottom-left-radius:50px; border-top-right-radius:50px; border-bottom-right-radius:100px;  box-shadow: 0px 0px 20px 0px #1a1a1a;"/>
            </label>
            <label class="logo"> CNN </label>
            <ul>
                <li><a href="../Log in and Sign up page/Login.html"><b>ورود</b></a></li>

                <li><a href="../Log in and Sign up page/SignUp.html"><b>ثبت نام</b></a></li>

                <li><a href="#" id="darkLight" style="padding:30px;"><b>☽</b></a></li>

                <li id="drop"><a id="empty">
                    <div class="dropdown" >
                        <button href="#" style="padding: 29px 29px;" class="dropbtn"><i class="fa fa-caret-down"></i><b> صفحه اخبار </b></button>
                        <div class="dropdown-content" >
                            <a href="#siasi">سیاسی</a>
                            <a href="#eghtesadi" >اقتصادی</a>
                            <a href="#tech" >تکنولوژی</a>
                            <a href="#covid" >covid 19</a>
                            <a href="#fun" >سرگرمی</a>
                            <a href="#elmi" >علمی</a>
                            <a href="#farhangi" >فرهنگی</a>
                        </div>
                    </div>
                </a></li>
                <li>
                    <a href="../index.html" ><b> صفحه اصلی </b><i class="fa fa-fw fa-home"></i></a>
                </li>
            </ul>
        </nav>
        <!--end of nav bar-->
    </header>
    <div id="middle">


        <div class="row">
            <div class="column1">
                <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side">
                    <br>
                    <h5 style="color: white;">پربازدید ترین‌ها</h5>
                    <br>


                    <a href="../News/12.html" style=" direction:rtl; border-radius:5px;"><img src="../images/pic12.jpg" class="smallPic" />
                        چگونگی گرم کردن داخل کیسه خواب و یا چادر را بدانید!!<br>
                        اولین نکته ای که به شما کمک می کند خوابی راحت و آرام داشته باشید...</a>


                    <a href="../News/9.html" style=" direction:rtl; border-radius:5px;">
                        <img src="../images/pic9.jpg" class="smallPic" />
                        چرا بعضی‌ها کرونا نمی‌گیرند؟<br>
                        دانشمندان با تحلیل نمونه‌های حاد از بیماران کرونایی پی برده‌اند که چگونه تفاوت‌های ژنتیکی بر سلول‌های ایمنی ما تأثیر می‌گذارد...
                    </a>


                    <a href="../News/2.html" style=" direction:rtl; border-radius:5px;">
                        <img src="../images/pic2.webp" class="smallPic" />
                        گلکسی نوت به تاریخ پیوست!<br>
                        گزارش‌های جدید خبر می‌دهند که سری گلکسی نوت سامسونگ اکنون به تاریخ پیوسته است و هرگز باز نمی‌گردد...
                    </a>


                    <a href="../News/7.html" style=" direction:rtl; border-radius:5px;">
                        <img src="../images/pic7.jpg" class="smallPic" />
                        کتاب «حدیث سهر» منتشر شد<br>
                        به گزارش خبرگزاری تسنیم، کتاب «حدیث سهر (نکات ناب و خاطرات شنیدنی از عارفان، حکیمان و اندیشمندان در بیان آیت الله حسن رمضانی)» به کوشش وحید واحدجوان به همت مؤسسه بوستان کتاب در 544 صفحه منتشر شد...
                    </a>

                    <a href="../News/6.html" style=" direction:rtl; border-radius:5px;">

                        <img src="../images/pic6.jpg" class="smallPic" />
                        واگذاری کشت‌وصنعت مغان به یک بدهکار کلان بانکی چگونه رخ داد؟ /مروری بر داستان حراج «نگین کشاورزی ایران»<br>
                        در حالیکه اخیراً زمزمه‌هایی مبنی بر امکان اعاده دادرسی در ...
                    </a>

                </div>
            </div>

            <div class="column2">

                <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="siasi"><div class="rectangle"><b> سیاسی </b></div><div class="triangle-left"></div></div>
                <br>
                <div class="newsPar">
                    <img src="../images/pic3.jpg" class="smallPic" />
                    <h5>وزیر کشور در بیرجند: دیپلماسی فعال با کشورهای همسایه را دنبال می‌کنیم/ سند آمایش سرزمینی ‌کل ایران تهیه شد</h5><br>
                    <p>به گزارش خبرگزاری تسنیم از بیرجند، «احمد وحیدی» که امروز ظهر به منظور تکریم «حمید ملانوری» استاندار سابق و معارفه «جواد قناعت» استاندار جدید استان خراسان جنوبی...</p>
                    <a href="../News/3.html">ادامه مطلب</a><br>
                </div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic4.jpg" class="smallPic" />
                    <h5>۲۰ درصد کل احکام بودجه اجرایی شده است/۱۵۴ هزار میلیارد کسری تراز عملیاتی و سرمایه‌ای</h5><br>
                    <p>طی گزارش حسابرسی عملکرد شش ماهه احکام بودجه سال ۱۴۰۰ از مجموع ۴۱۰ تبصره، بند و جزء در قانون بودجه سال جاری تنها ۸۲ حکم یعنی ۲۰ درصدآن...</p>
                    <a href="../News/4.html">ادامه مطلب</a><br>
                </div>

                <br><br>
                <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="eghtesadi"><div class="rectangle"><b> اقتصادی </b></div><div class="triangle-left"></div></div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic5.jpg" class="smallPic" />
                    <h5>ماده اولیه تولید کارت ملی داخلی‌سازی می‌شود / تولید موفق پلی‌کربنات گرید پزشکی در ایران</h5><br>
                    <p>به گزارش خبرنگار اقتصادی خبرگزاری تسنیم، رضا صالح احمدی، مدیر عامل شرکت پتروشیمی خوزستان در نشستی خبری اظهار داشت: پتروشیمی خوزستان تنها تولیدکننده پلی‌کربنات در ایران است و پلی‌کربنات با ظرفیت تولید 25 هزار تن در سال برای مصارف صنایع، مخابرات، الکترونیک...</p>
                    <a href="../News/5.html">ادامه مطلب</a><br>
                </div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic6.jpg" class="smallPic" />
                    <h5>واگذاری کشت‌وصنعت مغان به یک بدهکار کلان بانکی چگونه رخ داد؟ /مروری بر داستان حراج «نگین کشاورزی ایران»</h5><br>
                    <p>در حالیکه اخیراً زمزمه‌هایی مبنی بر امکان اعاده دادرسی در خصوص پرونده واگذاری شرکت کشت و صنعت مغان شنیده می‌شود، مروری بر جریانات مربوط به این واگذاری نشان می‌دهد که این اقدام با تخلفات گسترده و به یک بدهکار بانکی صورت گرفته است...</p>
                    <a href="../News/6.html">ادامه مطلب</a><br>
                </div>

                <br><br>
                <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="farhangi"><div class="rectangle"><b> فرهنگی </b></div><div class="triangle-left"></div></div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic7.jpg" class="smallPic" />
                    <h5>کتاب «حدیث سهر» منتشر شد</h5><br>
                    <p>به گزارش خبرگزاری تسنیم، کتاب «حدیث سهر (نکات ناب و خاطرات شنیدنی از عارفان، حکیمان و اندیشمندان در بیان آیت الله حسن رمضانی)» به کوشش وحید واحدجوان به همت مؤسسه بوستان کتاب در 544 صفحه منتشر شد...</p>
                    <a href="../News/7.html">ادامه مطلب</a><br>
                </div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic8.jpg" class="smallPic" style="width:110px; height:130px;" />
                    <h5>روایتی تاریخی از عصر پیامبر در بازار کتاب</h5><br>
                    <p>ویراست دوم «به امین بگو دوستش دارم» نوشته مریم راهی از سوی انتشارات نیستان منتشر و روانه بازار نشر شد...</p>
                    <a href="../News/8.html">ادامه مطلب</a><br>
                </div>

                <br><br>

                <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="tech"><div class="rectangle"><b>علم و تکنولوژی </b></div><div class="triangle-left"></div></div>


                <br>
                <div class="newsPar">
                    <img src="../images/error.png" class="smallPic" />
                    <h5>رنگ صفحه‌ی مرگ که در ویندوز ۱۱ از آبی به مشکی تغییریافته بود در آپدیت جدید ویندوز ۱۱ به آبی بازگشته است. </h5><br>
                    <p>مایکروسافت اخیرا آپدیت جدیدی برای اعضای حلقه‌ی بتا و پیش‌نمایش انتشار ویندوز اینسایدر منتشر کرده که باگ‌های بسیاری را در ویندوز ۱۱ برطرف می‌کند...</p>
                    <a href="../News/1.html">ادامه مطلب</a><br>
                </div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic2.webp" class="smallPic" />
                    <h4>گلکسی نوت به تاریخ پیوست!</h4><br>
                    <p>گزارش‌های جدید خبر می‌دهند که سری گلکسی نوت سامسونگ اکنون به تاریخ پیوسته است و هرگز باز نمی‌گردد...</p>
                    <a href="../News/2.html">ادامه مطلب</a><br>
                </div>


                <br><br>
                <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="covid"><div class="rectangle"><b> covid 19 </b></div><div class="triangle-left"></div></div>


                <br>
                <div class="newsPar">
                    <img src="../images/pic9.jpg" class="smallPic" />
                    <h5>چرا بعضی‌ها کرونا نمی‌گیرند؟</h5><br>
                    <p>دانشمندان با تحلیل نمونه‌های حاد از بیماران کرونایی پی برده‌اند که چگونه تفاوت‌های ژنتیکی بر سلول‌های ایمنی ما تأثیر می‌گذارد...</p>
                    <a href="../News/9.html">ادامه مطلب</a><br>
                </div>

                <br>
                <div class="newsPar">
                    <img src="../images/pic10.jpg" class="smallPic" />
                    <h5>واکسیناسیون معلمان و والدین شانس کرونا را کم کرده است</h5><br>
                    <p>کارشناس بیماری‌های واگیر معاونت بهداشتی دانشگاه علوم پزشکی بوشهر گفت: واکسیناسیون والدین و معلمین مدارس بر علیه Covid-۱۹ از یک سو و رعایت توصیه‌های بهداشتی از سوی دانش‌آموزان از سوی دیگر باعث می‌شود که شانس انتقال بیماری و پیامدهای ناشی از آن کاهش یابد...</p>
                    <a href="../News/10.html">ادامه مطلب</a><br>
                </div>
                <br><br>
                <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="fun"><div class="rectangle"><b> سرگرمی </b></div><div class="triangle-left"></div></div>
                <br>
                <div class="newsPar">
                    <img src="../images/pic11.jpg" class="smallPic" />
                    <h5>آشنایی با دره ماه؛ غیرقابل سکونت ترین نقطه روی کره زمین</h5><br>
                    <p>کشور شیلی یکی از زیباترین کشور های آمریکای جنوبی به شمار می رود. جذابیت های دیدنی و تفریحاتی زیادی در این کشور وجود دارد. بزرگ ترین استخر جهان، در این کشور قرار دارد که در سرتاسر دنیا نمیتوان مانند آن را پیدا کرد...</p>
                    <a href="../News/11.html">ادامه مطلب</a><br>
                </div>
                <br>
                <div class="newsPar">
                    <img src="../images/pic12.jpg" class="smallPic" />
                    <h5>چگونگی گرم کردن داخل کیسه خواب و یا چادر را بدانید!!</h5><br>
                    <p>اولین نکته ای که به شما کمک می کند خوابی راحت و آرام داشته باشید استفاده از کیسه خواب خوب در چادر است. کیسه خوابی که برای خوابیدن در سرما از آن استفاده می کنید باید در برابر سرما عایق ایجاد کند و سرما را به درون خودش راه ندهد...</p>
                    <a href="../News/12.html">ادامه مطلب</a><br>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <div class="footer">
        <input type="submit"  class="searchBtn" value="🔎︎" style="border:none; color:white; font-size:20px; background-color:inherit; margin-right:0; height:40px;" />
        <input type="text" class="searchBox" placeholder="به دنبال چیزی میگردید؟" />


        <div class="row">

            <div class="footer1" >
                <br>
                <a href="https://instagram.com/ali_2oo2_k/?utm_medium=copy_link" target="_blank"><img src="../images/insta.svg"  style="width:50px; height:50px;" class="instaBtn" /></a>
                <br><a href="https://t.me/ayda_as94" target="_blank"><img src="../images/tel.png" style="width:40px; height:40px;" class="instaBtn" /></a>
                <br><br><a href="https://twitter.com/Ali200255642227?t=pjxtXPWwxoQErmHhBFh_-w&s=09" target="_blank"><img src="../images/tweet.png" style="width:40px; height:40px; border-radius:50%;" class="instaBtn" /></a>
            </div>
            <div class="footer1">
                <br>
                <a href="https://t.me/Ali_2002_k" target="_blank"><img src="../images/in.png"  style="width:50px; height:50px;" class="instaBtn" /></a>
                <br><a href="https://wa.me/9383795330" target="_blank"><img src="../images/what.png" style="width:40px; height:40px;" class="instaBtn" /></a>
                <br><a href="https://www.pinterest.com/indigor761/" target="_blank"><img src="../images/pin.png" style="width:60px; height:60px; " class="instaBtn" /></a>

            </div>

            <div class="footer1" id="phone">

                <address >
                    <br><a href="mailto:indigor761@gmail.com" style="color:white; text-decoration:none; font-size: 17px;">indigor761@gmail.com</a><br>
                    <br><a href="mailto:alikhalpoor@gmail.com" style="color:white; text-decoration:none; font-size: 17px;">alikhalpoor@gmail.com</a><br>
                    <br><br><a href="tel: 09383795330" style="color:white; text-decoration:none; font-size: 17px;">09383795330</a><br><br>
                    <a href="tel:09335107705" style="color:white; text-decoration:none; font-size: 17px;">09335107705</a>
                </address>

            </div>

            <div class="footer1" id="footerlogo"> <img src="../images/logo.jpg" style="box-shadow: 0px 0px 20px 0px #1a1a1a; width:220px; height:140px; border-radius:50%; border-top-left-radius:100px; border-bottom-left-radius:50px; border-top-right-radius:50px; border-bottom-right-radius:100px;"/></div>

        </div>
    </div>

</div>
</body>
</html>