{% extends 'base.html' %}

{% block title %}post list{% endblock %}

{% block content %}

<div id="middle">
    <a href="#top" style=" padding:10px 15px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; right:30px;  background-color:white; border-radius:50%;" ><i class="fa fa-angle-up"></i></a>
    <a href="#" id="darkLight" style="padding:10px 17px; font-size:20px; color:#424874; z-index:1; position:fixed; bottom:30px; left:30px;  background-color:white; border-radius:50%;"><b>☽</b></a>

    <div class="row">
        <div class="column1">

            <form class="filter" method="post">
                {% csrf_token %}
                <input type="text" name="search" style="width:70%; border-radius:10px; border:1px solid #A6B1E1;  margin-right:10px; height:30px; padding-right:10px;" placeholder="جست و جو..." value={{ request.session.search }}>
                <input type="submit"  name="searching" value="🔎︎" style="border:none; color: #424874; font-size:20px; background-color:inherit; margin-right:0; height:40px;"/>
                <input type="submit"  name="clear_search" value="♻" style="border:none; color: #424874; font-size:20px; background-color:inherit; margin-right:0; height:40px;"/>

                <br><br><button name="base" class="filter_element" value="date" type="submit">جدید ترین ها</button>
                {% if request.session.base == 'date' or not 'base' in request.session %}<i class="fa fa-fw fa-check"></i>{% endif %}
                <br><button name="base" class="filter_element" value="comment" type="submit">پر کامنت ترین ها</button>
                {% if request.session.base == 'comment' %}<i class="fa fa-fw fa-check"></i>{% endif %}
                <br><button name="base" class="filter_element" value="view" type="submit">پربازدید ترین ها</button>
                {% if request.session.base == 'view' %}<i class="fa fa-fw fa-check"></i>{% endif %}

                <br><br><button name="sort" class="filter_element" value="asc" type="submit">صعودی</button>
                {% if request.session.sort == 'asc' %}<i class="fa fa-fw fa-check"></i>{% endif %}
                <br><button name="sort" class="filter_element" value="des" type="submit">نزولی</button>
                {% if request.session.sort == 'des' or not 'sort' in request.session %}<i class="fa fa-fw fa-check"></i>{% endif %}

                <br><br><input type="date" class="filter_element" style="padding-left:10px;" name="start" value="{{ request.session.start }}">
                <br><input type="date" class="filter_element" style="padding-left:10px;" name="end" value="{{ request.session.end }}">
                <br><button class="filter_element" type="submit" name="clear_filter">پاک کردن فیلتر</button>
                <br><button class="filter_element" type="submit" name="filter">فیلتر</button>

            </form>


            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side">
                <h5 style="color: white; padding: 20px 30px;">پربازدید ترین‌ها</h5>
                {% for post in most_visited_posts %}
                    <a href="{% url 'posts:detail' post.id %}" style=" direction:rtl; border-radius:5px;"><img src="{{ post.image.url }}" class="smallPic" />
                    {{post.snippet|striptags|safe}}</a>
                {% endfor %}
            </div>

            <div class="sidenav" style="border-top-left-radius:10px; border-top-right-radius:10px;" id="side2">
                <h5 style="color: white; padding: 20px 30px;">آخرین خبرها</h5>
                {% for post in last_recent_posts %}
                    <a href="{% url 'posts:detail' post.id %}" style=" direction:rtl; border-radius:5px;"><img src="{{ post.image.url }}" class="smallPic" />
                    {{post.snippet|striptags|safe}}</a>
                {% endfor %}
            </div>

        </div>

        <div class="column2">

            <div style="width:100%; background-color:#424874; height:50px; box-shadow: 1px 1px 20px 1px #424874;" id="siasi"><div class="rectangle"><b> لیست اخبار </b></div><div class="triangle-left"></div></div>
            
            {% for post in posts %}
            <br>
            <div class="newsPar">
                <img src="{{ post.image.url }}" class="smallPic" />
                <h5>{{ post.title }}</h5><br>
                <p>{{ post.snippet|striptags|safe }}</p>
                <a href="{% url 'posts:detail' post.id %}">ادامه مطلب</a><br>
            </div>
            {% endfor %}
            <br>


            <div class="pagination">
                {% if posts.has_previous %}
                <a href="/posts/?page={{ posts.previous_page_number }}">&laquo;</a>
            {% endif %}
            <span class="page-current">
                Page {{ posts.number }} of {{ posts.paginator.num_pages }}
            </span>
            {% if posts.has_next %}
                <a href="/posts/?page={{ posts.next_page_number }}">&raquo;</a>
            {% endif %}
            </div>

        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    {% if error %}
        alert("{{error}}")
    {% endif %}
</script>
{% endblock %}
